{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
<!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                                {% csrf_token %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                        <h3 class="panel-title"><strong>Crear team</strong></h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Usuario</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    {{ form.user }}
                                                </div>
                                                <span class="help-block">Seleccione un usuario *Campo obligatorio</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Horas diarias de trabajo</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    {{ form.horas_trabajadas }}
                                                </div>
                                                <span class="help-block">Inserte caracteres numericos mayores a cero *Campo obligatorio</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Rol de proyecto</label>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    {{ form.rol }}
                                                </div>
                                                <span class="help-block">Seleccione un rol de proyecto para el usuario *Campo obligatorio</span>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Crear</button>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock %}

{#{% block extra %}#}
{#    {{ block.super }}#}
{##}
{#        <!-- MESSAGE BOX-->#}
{#        <div class="message-box animated fadeIn" data-sound="alert" id="mb-usercreate">#}
{#            <div class="mb-container">#}
{#                <div class="mb-middle">#}
{#                    <div class="mb-title"><span class="fa fa-sign-out"></span><strong>Usuario Creado</strong> ?</div>#}
{#                    <div class="mb-content">#}
{#                        <p>Se ha enviado la contraseña al mail provisto</p>#}
{#                    </div>#}
{#                    <div class="mb-footer">#}
{#                        <div class="pull-right">#}
{#                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- END MESSAGE BOX-->#}
{#{% endblock %}#}