{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}

    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                    <h3 class="panel-title"><strong>Team</strong></h3>
                    {% if 'team.crear_team' in permisos %}
                            <a class="btn btn-default btn-rounded btn-sm" href="{% url 'Proyecto:Team:crearTeam' proyectoKey %}">Crear nuevo</a>
                        {% endif %}
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="200">Nombre</th>
                                <th width="100">Horas trabajadas</th>
                                <th width="100">Rol</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for team in team_list %}
                                <tr id="<pk>">
                                    <td><strong>{{ team.user.username }}</strong></td>
                                    <td><span class="text-center">{{ team.horas_trabajadas}}</span></td>
                                    <td><span class="text-center">{{ team.rol }}</span></td>
                                    <td>
                                        {% if 'team.modificar_team' in permisos and proyecto.estado == 2 %}
                                            <a href="{% url 'Proyecto:Team:modificarTeam'  pk=proyectoKey  pkt=team.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button></a>
                                        {% endif %}
                                        {% if 'team.eliminar_team' in permisos and proyecto.estado == 2%}
                                            <a href="#" class="mb-control" data-box="#mb-delete{{ proyectoKey }}{{ team.id }}">
                                            <button class="btn btn-danger btn-rounded btn-sm" ><span class="fa fa-times"></span></button></a>
                                        {% endif %}

                                    </td>
                                </tr>
                                <!-- MESSAGE BOX-->
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ proyectoKey }}{{ team.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar el Team Member  {{ team.user.username }}?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{%  url 'Proyecto:Team:eliminarTeam'  pk=proyectoKey  pkt=team.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Si"/>
                                                        <button class="btn btn-light btn-small mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MESSAGE BOX-->
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- END RESPONSIVE TABLES -->
{% endblock %}

