{% extends 'index.html' %}
{% load static %}

{% block index_content %}
<!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal" method="post" >
                                {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Crear Roles</strong></h3>
                                </div>


                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nombre</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                 {{ form.name }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Permisos</label>
                                        <div class="col-md-6 col-xs-12">
                                            {{ form.permissions }}
                                        </div>
                                        <input type="checkbox" id="select_all"/>Seleccionar todo
                                    </div>
                                    {{ form.errors }}
                                    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
                                    <script>
                                        $('#select_all').click(function() {
                                            var c = this.checked;
                                            $(':checkbox').prop('checked',c);
                                        });
                                    </script>

                                    <div class="panel-footer">
                                        <button class="btn btn-primary pull-right" >Crear</button>
                                </div>

                                </div>
                            </div>
                            </form>

                        </div>


                        {% block rolPr %}
                        {% endblock rolPr %}
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock %}

{% block extra %}
    {{ block.super }}

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-usercreate">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span><strong>Usuario Creado</strong> ?</div>
                    <div class="mb-content">
                        <p>Se ha enviado la contraseña al mail provisto</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-lg mb-control-close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
{% endblock %}