<html>
<head>
    <title>Reporte</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h1>Reporte</h1>
<h2>Proyecto: {{ proyecto.nombre }}</h2>
<h2>ID Sprint actual: {{ sprint.id }}</h2>

<h4>User stories pendientes con prioridad maxima:</h4>
{% for us in user_stories_pendientes %}
    <p><b>Titulo:</b> {{ us.titulo }}</p>
    <p><b>Horas trabajadas:</b> {{ us.horas_trabajadas }}</p>
    <p><b>Usuario:</b> {{ us.encargado }}</p>
    <br>

{% endfor %}
</body>
</html>