<html>
<head>
    <title>Reporte</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h1>Reporte</h1>
<h2>Proyecto: {{ proyecto.nombre }}</h2>
<h3>Tablero Kanban</h3>

{% for flujo in flujos %}
            <div class="content-frame" >
            <h2>Flujo: {{ flujo.nombre }}</h2>
            <div class="container">
                <div class="row">
                    {% for fase in flujo.get_fases_flujo %}
                        <div class="col-md-4" id="{{ fase.id }}">
                            <h4>{{fase.fase}}</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>En fase To do:</h5>
                                    <div class="tasks" id="tasks">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'To do' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>
                                                     <div class="task-text">{{ us.get_encargado }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h5>En fase Doing:</h5>
                                    <div class="tasks" id="tasks_progreess">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'Doing' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>
                                                    <div class="task-footer"></div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h5>En fase Done:</h5>
                                    <div class="tasks" id="tasks_completed">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'Done' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>

                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>


        {% endfor %}

</body>
</html>