{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}
    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                    <h3 class="panel-title"><strong>Sprint {{ sprint.numero }}</strong></h3>
                </div>

                <div class="panel-body panel-body-table">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Titulo</th>
                                <th width="100">Horas estimadas de trabajo</th>
                                <th width="100">Horas reales trabajadas</th>
                                <th width="100">Encargado</th>
                                <th width="100">Prioridad</th>
                                {% if sprint.estado == 1 or sprint.estado == 2 and proyecto.estado == 2 %}
                                    <td><a href="{% url 'Proyecto:sprint:agregarUS'  pk=proyecto.id pks=sprint.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-plus"></span>Agregar User Story</button></a></td>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for UserStory in userstory_list %}
                                <tr id="<pk>">
                                    <td><strong>{{ UserStory.titulo }}</strong></td>
                                    <td><span class="text-center">{{ UserStory.tiempo_estimado_de_terminacion }}</span></td>
                                    <td><span class="text-center">{{ UserStory.horas_trabajadas }}</span></td>
                                    <td><span class="text-center">{{ UserStory.encargado.user.username }}</span></td>
                                    <td><span class="text-center">{{ UserStory.prioridad }}</span></td>
                                    <td>
                                        {% if sprint.estado == 1 or sprint.estado == 2  and proyecto.estado == 2%}
                                            {% if 'UserStory.modificar_us' in permisos %}

                                                <a href="{% url 'Proyecto:sprint:reasignarUS'  pk=proyecto.id  pku=UserStory.id pks=sprint.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil">Reasignar encargado</span></button></a>
                                            {% endif %}
                                            {% if 'UserStory.eliminar_us' in permisos %}
                                                <a href="#" class="mb-control" data-box="#mb-delete{{ UserStory.id }}"><button class="btn btn-danger btn-rounded btn-sm"><span class="fa fa-times"></span></button></a>
                                            {% endif %}
                                            {% if 'UserStory.modificar_us' in permisos %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- MESSAGE BOX-->
                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete{{ UserStory.id }}">
                                    <div class="mb-container">
                                        <div class="mb-middle">
                                            <div class="mb-title"><span class="fa fa-trash-o"></span><strong>Eliminar</strong> ?</div>
                                            <div class="mb-content">
                                                <p>Estas seguro que deseas eliminar el User Story {{ UserStory.titulo }} del Sprint?</p>
                                            </div>
                                            <div class="mb-footer">
                                                <div class="pull-right">
                                                    <form action="{% url 'Proyecto:sprint:removerUS'  pk=proyecto.id  pks=sprint.id pku=UserStory.id  %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Si"/>
                                                        <button class="btn btn-light btn-small mb-control-close">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MESSAGE BOX-->

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% if sprint.estado != 1 %}
                    <canvas id="myChart" width="400" height="400"></canvas>
                {% endif %}
                <div class="panel-heading">
                    <h3 class="panel-title">Reunion restrospectiva </h3>
                </div>
                     {% if sprint.estado == 4 or sprint.estado == 3 %}
                    <div class="textarea text-center">
                    <p ><h5>{{ sprint.reunion }}</h5></p>
                    </div>
                {% endif %}
                </div>
                </div>
        </div>

    </div>
    </div>
    <!-- END RESPONSIVE TABLES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        var etiquet = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            backgroundColor : 'rgba(255, 99, 132, 0.2)',
            data: {

                labels: [{% for etiqueta in etiquetas %} '{{ etiqueta }}',{% endfor %}],
                {#labels:  etiquet,#}
                datasets: [
                    {
                        label: 'Horas Estimadas para Terminar',
                        data: [{% for dato in horas_trabajadas %} {{ dato }},{% endfor %}],

                        backgroundColor: 'rgba(54, 162, 235, 0.2)',

                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Progreso esperado',
                        data: [{% for dato in progreso_estimado %} {{ dato }},{% endfor %}],


				        borderWidth: 2,
				        fill: false,
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],

                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });



        var chart = new Chart(ctx, {
        type: "line",
        data: data,
        options: options
    });
    </script>
{% endblock %}

