{% extends 'pro/pro_home.html' %}
{% load static %}
{% block index_content %}
    <!-- PAGE CONTENT WRAPPER -->
    <link rel="stylesheet" type="text/css" href="/staticfiles/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/staticfiles/admin/css/forms.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/core.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/actions.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/staticfiles/admin/js/SelectFilter2.js"></script>
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" >
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                            <h3 class="panel-title"><strong>Crear Sprint</strong></h3>
                            <ul class="panel-controls">
                                <li><a href="{{request.META.HTTP_REFERER}}" ><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">

{#                            {% for field in form %}#}
{#                                #}
{#                                {% if field.errors %}#}
{#                                    <div class="form-group has-error has-feedback">#}
{#                                {% else %}#}
{#                                    <div class="form-group">#}
{#                            <label class="col-md-3 col-xs-12 control-label"> {{ field.label_tag }} </label>#}
{#                            <div class="col-md-6 col-xs-12">#}
{#                                <div class="input-group">#}
{#                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>#}
{#                                    {{ field }}#}
{#                                </div>#}
{#                                {% if field.help_text %}#}
{#                                    <span class="help-block">{{ field.help_text|safe }}</span>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            </div>#}
{#                            {% endfor %}#}

                            <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> {{ field.label_tag }} </label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.fechaInicio }}
                                </div>
                                {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                            </div>

                            <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> {{ field.label_tag }} </label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.fechaFinal }}
                                </div>
                                {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                            </div>

                            <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> {{ field.label_tag }} </label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    {{ form.userStories }}
                                </div>
                                {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                            </div>
                            </div>


                            {{ form.errors }}


                        </div>
                         <div class="panel-footer">
                                <button class="btn btn-default">Clear Form</button>
                                <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}