{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}
    <!-- START RESPONSIVE TABLES -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                {% if message %}
                    {{ message }}
                {% endif %}
                {% if  us_incompletos.count == 0 %}
                    <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                        <h3 class="panel-title">Todos los User Storys fueron completados</h3>
                        <br>
                    </div>
                       <div class="panel-heading">
                        <h3 class="panel-title">Reunion restrospectiva</h3>
                        <br>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="post" >
                            {% csrf_token %}
                            <label class="control-label">Sprint</label>
                            <h5 > {{ sprint.numero }}</h5>
                            <br>
                            <label class="control-label">Proyecto:</label>
                            <h5 > {{ sprint.proyecto }}</h5>
                             {{ form.reunion }}
                            <br>
                    <button class="btn btn-success btn-lg">Siguiente</button>
                    </form>
                    </div>
                {% else %}
                    <div class="panel-heading">
                        <h3 class="panel-title">User Stories incompletos que deben redefinirse</h3>
                        <input class="form-control" id="myInput" type="text" placeholder="Buscar user story">
                        <br>
                    </div>
                    <div class="panel-body panel-body-table">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-actions">
                                <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th width="100">Descripcion</th>
                                    <th width="100" onclick="sortTable(2)">Prioridad</th>
                                    <th width="100" onclick="sortTable(3)">Urgencia</th>
                                    <th width="100">Estado</th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                {% for UserStory in us_incompletos %}
                                    <tr id="<pk>">
                                        <td><strong>{{ UserStory.titulo }}</strong></td>
                                        <td><span class="text-center">{{ UserStory.descripcion_corta}}</span></td>
                                        <td><span class="text-center">{{ UserStory.prioridad }}</span></td>
                                        <td><span class="text-center">{{ UserStory.urgencia }}</span></td>
                                        <td><span class="text-center">{{ UserStory.get_estado_display }}</span></td>
                                        <td>

                                            {% if 'UserStory.redefinir_us' in permisos %}
                                                <a href="{% url 'Proyecto:sprint:redefinirUS'  pk=proyecto.id pks=sprint.id  pku=UserStory.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"> Redefinir</span></button></a>
                                            {% endif %}
                                             <a href="#" class="mb-control" data-box="#mb-detail{{ proyecto.id }}{{ UserStory.id }}"><button class="btn btn-info"> Detalles</button></a>
                                        </td>
                                    </tr>
                                    <!-- MESSAGE BOX-->

                                    <div class="message-box animated"  id="mb-detail{{ proyecto.id }}{{ UserStory.id }}">
                                        <div class="mb-container">
                                            <div class="mb-middle">
                                                <div class="mb-title"><strong>{{ UserStory.titulo}}</strong></div>
                                                <div class="mb-content">
                                                    <p>Descripcion corta: {{ UserStory.descripcion_corta }}</p>
                                                    {% if UserStory.descripcion_larga != None %}
                                                        <p>Descripcion larga: {{ UserStory.descripcion_larga }}</p>
                                                    {% else %}
                                                        <p>Descripcion larga:</p>
                                                    {% endif %}
                                                    {% if UserStory.criterios_de_aceptacion != None %}
                                                        <p>Criterios de aceptacion: {{ UserStory.criterios_de_aceptacion }}</p>
                                                    {% else %}
                                                        <p>Criterios de aceptacion:</p>
                                                    {% endif %}
                                                    <p>Urgencia:  {{ UserStory.urgencia }}</p>
                                                    <p>Valor de negocio: {{ UserStory.valor_de_negocio }}</p>
                                                    <p>Valor tecnico: {{ UserStory.valor_tecnico }}</p>
                                                    <p>Prioridad: {{ UserStory.prioridad }}</p>
                                                    <p>Flujo: {{ UserStory.flujo }}</p>
                                                    <p>Tiempo estimado de terminacion: {{ UserStory.tiempo_estimado_de_terminacion }}</p>
                                                    {% if UserStory.comentario_extra != None %}
                                                        <p>Comentario extra: {{ UserStory.comentario_extra }}</p>
                                                    {% else %}
                                                        <p>Comentario extra:</p>
                                                    {% endif %}
                                                    <p>Archivo Adjunto: {{ UserStory.archivo }}</p>
                                                    <div class="pull-right">
                                                        <button class="btn btn-light btn-small mb-control-close">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END MESSAGE BOX-->

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 0; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n].firstChild;
                    y = rows[i + 1].getElementsByTagName("TD")[n].firstChild;

                    if (dir == "asc") {
                        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
                            shouldSwitch= true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                            shouldSwitch= true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }

        }
    </script>
    <!-- END RESPONSIVE TABLES -->

{% endblock %}