{% extends 'index.html' %}
{% load static %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gestpro</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Sprints</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Kanban</a></li>
    </ul>
  </div>
</nav>