{% extends 'pro/pro_home.html' %}
{% load static %}

{% block barra-superior %} {{ block.super }} {% endblock %}

{% block index_content %}

 <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" method="post"  enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                                    <h3 class="panel-title"><strong>Crear User Story</strong></h3>
{#                                    <ul class="panel-controls">#}
{#                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                                    </ul>#}
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Titulo</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.titulo }}
                                            </div>
                                            <span class="help-block">Longitud maxima 80 caracteres *Campo obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descripcion</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.descripcion_corta }}
                                            </div>
                                            <span class="help-block">Breve descripción del User Story *Campo obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descripcion detallada</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.descripcion_larga}}
                                            </div>
                                            <span class="help-block">Descripción completa del User Story</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Criterios de Aceptacion</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.criterios_de_aceptacion}}
                                            </div>
                                            <span class="help-block">Descripcion de los criterios de aceptacion del User Story. Caracteres alfanumericos</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Urgencia</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.urgencia}}
                                            </div>
                                            <span class="help-block">Valores numericos del 1-10 *Campo obligatorio</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Valor de negocio</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.valor_de_negocio}}
                                            </div>
                                            <span class="help-block">Valores numericos del 1-10 *Campo obligatorio</span>
                                        </div>
                                    </div>
                                     {{ form.errors }}
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Valor Tecnico</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.valor_tecnico}}
                                            </div>
                                            <span class="help-block">Valores numericos del 1-10 *Campo obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Flujo</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.flujo}}
                                            </div>
                                            <span class="help-block">Seleccione un flujo del proyecto *Campo obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Tiempo estimado de terminacion</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.tiempo_estimado_de_terminacion}}
                                            </div>
                                            <span class="help-block">Valor numerico en horas *Campo obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Comentario</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                {{ form.comentario_extra}}
                                            </div>
                                            <span class="help-block">Comentario extra sobre User Story</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Archivo adjunto</label>
                                        <div class="col-md-6 col-xs-12">
                                             <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-file"></span></span>
                                                {{ form.archivo}}
                                            </div>
                                            <span class="help-block">Puede adjuntar un archivo</span>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-primary pull-right"  data-box="#mb-usercreate">Crear</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
{% endblock %}