{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}

{#    {% for rol in roles %}#}
{#        <input type="checkbox" name="rol" id="choice{{ forloop.counter }}" value="{{ rol.id }}" />#}
{#        <label for="choice{{ forloop.counter }}">{{ rol.name }}</label><br />#}
{#    {% endfor %}#}
    <input type="submit" value="Guardar" />
</form>
{% endblock %}