{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        <div class="custom-control custom-checkbox">
        {{ form.as_p }}
            <input type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}
