{% extends 'pro/pro_home.html' %}
{% load static %}

{% block index_content %}
    {% load tags_permisos %}
    {% get_obj_perms user for proyecto as "permisos" %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>
                    <h3 class="panel-title"><strong>Flujos externos al proyecto</strong></h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar flujo">
                    <br>
                </div>

                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th>Proyecto ID</th>
                                <th>Flujos</th>
                                <th>Fases</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for flujo in lista_importados %}

                                <tr id="<pk>">
                                    <td>{{ flujo.proyecto.id }}</td>
                                    <td>{{ flujo.nombre }}</td>
                                    <td><span class="text-center">
                                        {% for fase in flujo.faseaflujo.all %}
                                            {{ fase.fase }}<br>
                                        {% endfor %}
                                    </span></td>
                                    <td>
                                        {% if 'Kanban.importar_flujo' in permisos %}
                                               <a href="#" class="mb-control" data-box="#mb-info{{ flujo.id }}"><button class="btn btn-danger btn-rounded btn-sm"><span>Importar</span></button></a>
                                        {% endif %}
                                    </td>
                                </tr>

                                <div class="message-box animated fadeIn" data-sound="alert" id="mb-info{{ flujo.id }}">
                                <div class="mb-container">
                                    <div class="mb-middle">
                                        <div class="mb-title"><span class="fa fa-info"></span><strong>Importado correctamente</strong></div>
                                        <div class="mb-content">
                                            <p>El flujo importado ya se encuentra en la lista de flujos del proyecto actual</p>
                                        </div>
                                        <div class="mb-footer">
                                            <div class="pull-right">
                                                <form action="{% url 'Proyecto:Kanban:importarF' pk=flujo.proyecto.id  pks=flujo.id  pkp=proyecto.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" value="Confirm" class="btn btn-success btn-lg">Ok</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}