{% extends 'pro/pro_home.html' %}
{% load static %}
{% load guardian_tags %}



{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        $(document).ready(function() {


            {% for us in userstories %}
                    try {

                {% if us.sprint_set.get.estado == 2 %}
                        document.getElementById("us_{{ us.id }}").classList.add("misuserstories");

                        document.getElementById("us_{{ us.id }}").classList.add("task-success");
                        {#Color#}

                {% else %}
                        document.getElementById("us_{{ us.id }}").classList.add("task-danger");
                {% endif %}

                }
                    catch(err){
                        console.log(err)
                    }

            {% endfor %}






        });


    </script>
{% endblock %}

{% block index_content %}

<h4 style="text-align:right; font-size:100%;" class="col-12 align-right"><strong>Trabajando en:</strong> {{ proyecto.nombre }} </h4>

    <div id="dialog">
        <label for="horas">Horas de trabajo: </label>
        <input type="number" id="horas" min="0" value="0">
    </div>



    <div class="page-content-wrap">
        {% for flujo in flujos %}
            <div class="content-frame" >
            <h3 style="text-align:center;">Flujo de trabajo:<strong> {{ flujo.nombre }}</strong></h3>
            <div class="container">
                <div class="row">
                    {% for fase in flujo.get_fases_flujo %}
                        <div class="col-md-4" id="{{ fase.id }}">
                            <h4 style="text-align:center;"><strong>{{fase.fase}}</strong></h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>To do</h5>
                                    <div class="tasks" id="tasks">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'To do' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>
                                                     <div class="task-text">{{ us.get_encargado }}</div>
                                                    <div class="task-footer"></div>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:CrearDaily'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Crear Daily</button></a>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:ListarDailies'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-list"></span>Listar Daily</button></a>
{#                                                    <button type="button" class="btn btn-default btn-rounded btn-sm" data-toggle="modal" data-target="#myModal{{ proyecto.id }}{{ us.id }}">Open Modal</button>#}
                                                </div>
                                            {% endif %}

                                            <!-- Modal -->
                                            <div id="myModal{{ proyecto.id }}{{ us.id }}" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <form class="form-horizontal" method="post"  action="{% url "Proyecto:UserStory:Daily:CrearDaily" pk=proyecto.id pku=us.id %}" enctype="multipart/form-data" >{% csrf_token %}
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Crear Daily</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 col-xs-12 control-label">Texto</label>
                                                                    <div class="col-md-6 col-xs-12">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                            {{ form_reunion.texto }}


                                                                        </div>
                                                                        <input type="text" id="id_texto"  name="texto" placeholder="Enter..."/>
                                                                        <span class="help-block">Ingrese la informacion que contendra su Daily *Campo Obligatorio</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" />
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="task-drop push-down-10">
{#                                            <span class="fa fa-cloud"></span>#}
{#                                            Mueva aquí su us#}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h5>Doing</h5>
                                    <div class="tasks" id="tasks_progreess">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'Doing' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>
                                                    <div class="task-footer"></div>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:CrearDaily'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Crear Daily</button></a>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:ListarDailies'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-list"></span>Listar Daily</button></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="task-drop push-down-10">
{#                                            <span class="fa fa-cloud"></span>#}
{#                                            Mueva aquí su us#}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h5>Done</h5>
                                    <div class="tasks" id="tasks_completed">
                                        {% for us in  fase.userstory_set.all %}
                                            {% if us.estado_actual == 'Done' %}
                                                <div class="task-item task-primary" id="us_{{ us.id }}">
                                                    <div class="task-text">{{ us.titulo }}</div>
                                                    <div class="task-footer"></div>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:CrearDaily'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span>Crear Daily</button></a>
                                                    <a href="{% url 'Proyecto:UserStory:Daily:ListarDailies'  pk=proyecto.id  pku=us.id %}"><button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-list"></span>Listar Daily</button></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="task-drop push-down-10">
{#                                            <span class="fa fa-cloud"></span>#}
{#                                            Mueva aquí su us#}
                                        </div>
                                    </div>
                                </div>


                                <!-- END MESSAGE BOX-->

                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>


        {% endfor %}


        </div>
    </div>




{% endblock %}



{# Le agrego otra vez esto porque tengo que comentar algunos jquery para que funcione bien y si comento en index explota el resto#}


{% block scripts %}
    {% block page_scripts %}
    {% endblock %}
 <!-- START PRELOADS -->
        <audio id="audio-alert" src="{% static "audio/alert.mp3"%}" preload="auto"></audio>
        <audio id="audio-fail" src="{% static "audio/fail.mp3"%}" preload="auto"></audio>
        <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
{#        <script type="text/javascript" src="{% static "js/plugins/jquery/jquery.min.js"%}"></script>#}
{#        <script type="text/javascript" src="{% static "js/plugins/jquery/jquery-ui.min.js"%}"></script>#}
        <script type="text/javascript" src="{% static "js/plugins/bootstrap/bootstrap.min.js"%}"></script>
        <!-- END PLUGINS -->
          <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
{#        <script type="text/javascript" src="{% static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"%}"></script>#}
        <script type="text/javascript" src="{% static "js/plugins/scrolltotop/scrolltopcontrol.js"%}"></script>

        <script type="text/javascript" src="{% static "js/plugins/morris/morris.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/rickshaw/d3.v3.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/rickshaw/rickshaw.min.js"%}"></script>
{#        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'%}"></script>#}
{#        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>#}
        <script type='text/javascript' src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js'%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/owl/owl.carousel.min.js"%}"></script>

        <script type="text/javascript" src="{% static "js/plugins/moment.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/plugins/daterangepicker/daterangepicker.js"%}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

        <script type="text/javascript" src="{% static "js/plugins.js"%}"></script>
        <script type="text/javascript" src="{% static "js/actions.js"%}"></script>
        <!-- END TEMPLATE -->
{#            <script type="text/javascript" src="{% static "js/settings.js" %}"></script>#}

        <script type="text/javascript" src="{% static "js/plugins/bootstrap/bootstrap-select.js"%}"></script>
        <script type="text/javascript" src="{% static "js/demo_tasks.js" %}"></script>

{% endblock %}