{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="update=" value="Update" />
        <input type="submit" name="delete" value="Delete" />

    </form>

  <a href="{% url 'Proyecto:Team:eliminarTeam'  pk=proyecto  pkt=team.id %}">Eliminar</a>
    <a href="{% url 'Proyecto:listaProyectos' %}">Proyectos</a>
{% endblock %}
