{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        {% if perms.Accounts.add_team %}
            <input type="submit" value="Save" />
        {% else %}
            <input type="submit" value="Save" disabled/>
        {% endif %}

    </form>
{% endblock %}
