{% extends 'base.html' %}
{% block content %}
    {% load guardian_tags %}
    <h4 align="right" >Usuario: {{ user.username }}</h4>
    <h1 align="center">Miembros</h1>
    <ul>
        {% for team in team_list %}
            <div class='row'>
                <div class='col-12'>
                    <li>
                        {% get_obj_perms user for team as 'team_perms' %}
                        {% if "modificar_team" in team_perms %}
                            {{ team.user.username}} <a href="{% url 'Proyecto:Team:modificarTeam'  pk=proyecto  pkt=team.id %}" class="btn-outline-success">Modificar</a>
                        {% else %}
                            {{team.user.username }} Modificar
                        {% endif %}
                    </li>
                </div>
            </div>
        {% endfor %}
       <a href="{% url 'Proyecto:Team:crearTeam' proyecto %}">Crear nuevo</a>
        <a href="{% url 'Proyecto:listaProyectos' %}">Proyectos</a>
    </ul>
{% endblock %}
