{% extends 'base.html' %}
{% block content %}
    {% load guardian_tags %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        {% get_obj_perms user for proyecto as "context_var" %}
        {% if 'team.listar_team' in context_var %}
            <p><a href="{% url 'Proyecto:Team:listaTeam' proyecto.id %}">Team</a></p>
        {% endif %}
        <input type="submit" value="Update" />
    </form>
{% endblock %}
