{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Bienvenido {{ user.username }}
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>No has iniciado sesión</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
