{% extends 'base.html' %}


{% load static %}

{% block title %}Login | {{ block.super }}{% endblock%}


{% block meta_css %}
    <link rel="stylesheet" type="text/css" id="theme" href="{% static "css/theme-default.css" %}">
     <style>
    label{
        color : white
    }
    </style>
{% endblock %}

{% block content %}

        <div class="login-container">

            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title">Ingrese el mail asociado a su cuenta</div>
                    <form action="" class="form-horizontal" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-12">
                          {{ form }}
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <div class="col-md-12">#}
{#                           {{ form.password }}#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">

                        <div class="col-md-6">
                            <button class="btn btn-info btn-block">Restablecer</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2018 Gestpro
                    </div>
                </div>
            </div>

        </div>
{% endblock %}




