{% extends 'index.html' %}
{% block message %}
 <div class="message-box animated fadeIn" data-sound="alert" id="mb-signocreut" method="Post">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Borrar Usuario</strong> ?</div>
                    <div class="mb-content">
                        <p>Estas seguro que queres borrar el usuario?</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success btn-lg" value="Confirm" />
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
 </div>
{% endblock %}